 ###Initialize Postgres Connection

In [34]:
import great_expectations as ge

import psycopg2 

import pandas as pd

conn=psycopg2.connect(host='solutions-demodb.hevo.me',port=5432,user='root',password='root',database='Ecommerce')
conn

In [39]:
df1 = pd.read_sql_query("SELECT table_name  FROM information_schema.tables where table_schema='public'  ",conn)
#df1.head(10)

    table_name
0     products
1        users
2  useraddress
3       orders

Get count of tables

In [40]:
Table_Names=[]
for i,row in df1.iterrows():
    for j,column in row.iteritems():
        print (column)
        Table_Names.append(column)
Table_Names

products
users
useraddress
orders

['products', 'users', 'useraddress', 'orders']

In [41]:
for i in range(len(Table_Names)):
    dff = pd.read_sql_query("Select * from public."+Table_Names[i],conn)
    print(Table_Names[i])
    print(dff.shape[0])

products
500
users
500
useraddress
500
orders
0

### Initialize Redshift Connection

In [51]:
import redshift_connector

In [54]:
conn = redshift_connector.connect(host='demoredshift.hevo.me',user='demo',password='demoDEMO1236'
                                 ,port=5439,database='demo')
conn

In [77]:
df2 = pd.read_sql_query("select distinct tablename \
                         from pg_table_def where schemaname='public' and tablename  like   's3_%' ",conn)
df2.head(20)

  b'tablename'
0      s3_apac

### MYSQL

In [7]:
import mysql.connector as mysql
import pandas as pd

In [6]:
db = mysql.connect(
    host = "solutions-demodb.hevo.me",
    user = "root",
    passwd = "root",
    database='Ecommerce'
)

In [9]:
df = pd.read_sql_query(' SELECT * FROM Ecommerce.Products',db)
df.head(5)

,ID,sku,category,description,price,isActive,lastUpdated,countryOfOrigin
0,2,94-627-4318,Beverage,Automotive,641.0,0.0,2020-10-15,India
1,3,74-796-0764,Electronics,Computers,553.0,0.0,2020-12-08,India
2,4,49-352-4119,Shoes,Toys,758.0,0.0,2021-05-29,India
3,5,04-081-4946,Electronics,Grocery,335.0,1.0,2021-02-11,India
4,6,46-404-3883,Beverage,Electronics,782.0,1.0,2020-06-09,India

In [46]:
dff = pd.read_sql_query('show tables',db)
Table_Names2=[]
for i,row in dff.iterrows():
    for j,column in row.iteritems():
        print (column)
        Table_Names2.append(column)

Products
Student
Users
accounts
orders
userAddress

In [47]:
Table_Names2

['Products', 'Student', 'Users', 'accounts', 'orders', 'userAddress']

In [49]:
for i in range(len(Table_Names2)):
    dff = pd.read_sql_query("Select * from Ecommerce."+Table_Names2[i],db)
    print(Table_Names2[i])
    print(dff.shape[0])

Products
504
Student
5
Users
513
accounts
0
orders
106
userAddress
505